{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_labnbook/view_student

    This is the student view of an activity.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * title
    * description
    * redirecturl
    * token_report

    Example context (json):
    {
    }
}}
<section class="jumbotron">
    <h2>{{title}}</h2>
    <div>{{{ description }}}</div>

    <p>
        <a  onclick="window.open('{{redirecturl}}?token={{token_report}}','_blank');window.history.back()" href="#" class="btn btn-primary btn-lg">{{#str}}gotoreport, mod_labnbook{{/str}}</a>
    </p>
</section>
