{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_labnbook/view_bind

    This is a view to bind a Moodle account to a LabNbook server.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}
<section class="jumbotron">
    <h2>{{#str}}connectaccount, mod_labnbook{{/str}}</h2>
    <p>
        {{#str}}connectaccountdetails, mod_labnbook{{/str}}
    </p>
        <p>
        {{#str}}informationtransmitted, mod_labnbook{{/str}}
        </p>
        <ul>
            <li>{{#str}}firstnameandlastname, mod_labnbook{{/str}}</li>
            <li>{{#str}}login, mod_labnbook{{/str}}</li>
            {{#send_email}}
                <li>{{#str}}emailifdefined, mod_labnbook{{/str}}</li>
            {{/send_email}}
            {{#send_student_num}}
                <li>{{#str}}studentnumber, mod_labnbook{{/str}}</li>
            {{/send_student_num}}
        </ul>
    <p>
        {{#str}}onclickbind, mod_labnbook{{/str}}
    </p>
    <p>
        <a onclick="window.open('{{url}}','_blank');window.history.back()" href="#" class="btn btn-primary btn-lg">{{#str}}bindaccount, mod_labnbook{{/str}}</a>
    </p>
</section>
