{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_labnbook/view_teacher.

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * main_links_text
    * other_links_text
    * redirecturl
    * token_teaming
    * token_mission
    * token_classe
    * token_reports
    * open_team_config_msg

    Example context (json):
    {
    }
}}
<section>
    <h2>{{title}}</h2>
    <br/><p><strong> {{main_links_text}} </strong></p>
    <ul>
        <li>
            <a href="#" onclick="window.open('{{redirecturl}}?token={{token_teaming}}', '_blank')">{{#str}}external_teaming, mod_labnbook{{/str}}</a> - {{enrolled_users}}

        </li>
    </ul>
    <br/><p><strong> {{other_links_text}} </strong></p>
    <ul>
        <li>
            <a href="#" onclick="window.open('{{redirecturl}}?token={{token_mission}}', '_blank')">{{#str}}external_mission, mod_labnbook{{/str}}</a>
        </li>
        <li>
            <a href="#" onclick="window.open('{{redirecturl}}?token={{token_classe}}', '_blank')">{{#str}}external_classe, mod_labnbook{{/str}}</a>
        </li>
        <li>
            <a href="#" onclick="window.open('{{redirecturl}}?token={{token_reports}}', '_blank')">{{#str}}external_reports, mod_labnbook{{/str}}</a> - {{started_reports}} {{submitted_reports}}
        </li>
    </ul>
    {{#open_team_config}}
        <script type="text/javascript">
            alert('{{{open_team_config_msg}}}');
            window.open('{{redirecturl}}?token={{token_teaming}}', '_blank');
        </script>
    {{/open_team_config}} 
</section>
